<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Blog</h1>
    <hr/>
    <ul>
        <li><a th:href="@{/posts/new}" > New Post</a></li>
    </ul>
    <hr/>
    <div class="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2 ><a th:text="${post.title}"
                th:href="@{'/posts/' + ${post.id}}"></a></h2>
            <h5 th:text="'Written by ' + ${post.account.firstName} + ' on ' + ${post.createAt} " ></h5>   
            <h5 th:text="'Updated At' + ${post.updatedAt} " ></h5>  
            <p th:text="${post.body}"></p>
        </div>
        <hr/>
        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/register}" > Register</a></li>
            <li><a th:href="@{/login}" > Login</a></li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}"
                  method="POST">
                <div>
                    <label>Hi, <span sec:authentication="name">Username</span></label>
                </div>
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>
